@model FurnitureStore.Models.Entities.Manage.AccountIndexViewModel

@{
	ViewBag.Title = "Мой аккаунт";
}

<h2>AccountIndex</h2>

<div>
	<h4>Сведения</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Phone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Phone)
		</dd>

	</dl>
</div>
<p>
	<a class = "btn btn-primary" href="/Order/GetOrders">Мои заказы</a>
</p>
<hr />
<p>
	@Html.ActionLink("На главную", "Index", "Home") |
	@Html.ActionLink("Изменить личные данные", "EditUserData", "Manage") |
	@Html.ActionLink("Изменить пароль", "EditUserPassword", "Manage") |
	@Html.ActionLink("Удалить аккаунт", "Delete", "Manage")

<p>
	@if (Request.Cookies["Moder"] == null)
	{
		@Html.ActionLink("Получить права модератора", "GetModer", "Account")
	}
</p>

<p>
	@if (Request.Cookies["Admin"] == null)
	{
		@Html.ActionLink("Получить права администратора", "GetAdmin", "Account")
	}
</p>