@model FurnitureStore.Context.Models.Product

@{
	ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CountOfOptPrice)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CountOfOptPrice)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OptPrice)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OptPrice)
		</dd>

	</dl>
</div>
<p>
	@if (Request.Cookies["Moder"] != null)
	{
		@Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) @:|

	}
	<a href="/Order/Create?Productid=@Model.Id">Сделать заказ</a>|
	@Html.ActionLink("Назад к товарам", "Index")
</p>
